{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p> I'm deeply passionate about Artificial Intelligence (AI) and Machine Learning (ML), eager to further expand my expertise and contribute to innovative advancements in these fields. Pursuing a Bachelor of Technology in Artificial Intelligence has equipped me with a solid foundation, supplemented by rigorous coursework and certifications in Python, ML, and Data Analysis. My academic journey reflects my commitment to mastering key concepts and techniques essential for tackling real-world challenges in AI and ML.</p>
        <p>Through immersive experiences at CodeClause and Knowledge Solutions India, I've honed my practical skills in Python development and ML implementation. At CodeClause, I undertook two significant projects, leveraging Python to deliver high-quality solutions that showcased my adept programming abilities. Meanwhile, at Knowledge Solutions, I received specialized training in ML and completed projects focusing on both supervised and unsupervised learning methodologies. Proficiency in Flask, Jinja, and SQLAlchemy further bolsters my capabilities, alongside a fervent curiosity to explore emerging technologies and frameworks.</p>
        <p>With accolades including a win at SIH '23 and recognition as a 3⭐ coder on CodeChef, I'm actively seeking internships or job opportunities where I can push my boundaries, contribute meaningfully, and continue my growth journey as a Python and Machine Learning developer.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}